<h3 class="text-center">
</h3>

<div class="panel text-center" id="movie-details-panel">
  <div class="panel-heading panel-title">
    <h2 class="star-gold"><%= @movie.title %></h2>
  </div>
  <div class="panel-body">
    <%= @movie.description %>
  </div>
  <% if @movie.video_url %>
    <div class="panel-body">
      <div class="embed-responsive embed-responsive-16by9">
        <iframe src="<%= @movie.video_url %>" class="embed-responsive-item" width="640px" height="480px" frameborder="0px"></iframe>
      </div>
    </div>
  <% end %>
  <div class="panel-footer">
    <div class="row">
      <div class="col-md-4">
        <%= @movie.release_date.strftime("Released on %m/%d/%Y") %>
      </div>
      <% if @movie.ratings.any? %>
      <div class="col-md-4">
        <% @movie.avg_rating.ceil.times do %>
          <span class="glyphicon glyphicon-star star-gold"></span>
        <% end %>
        <% (10 - @movie.avg_rating.ceil).times do %>
          <span class="glyphicon glyphicon-star-empty"></span>
        <% end %>
      </div>
      <div class="col-md-4">
        <% if @movie.ratings.length == 1 %>
        This Movie has <%= @movie.ratings.length %> rating.
        <% else %>
        This Movie has <%= @movie.ratings.length %> ratings.
        <% end %>
      </div>
      <% end %>
    </div>
  </div>
</div>


<div class="btn-group btn-group-sm btn-group-justified">
  <%= link_to "Edit #{@movie.title}", edit_movie_path(@movie), class: "btn btn-warning" %>
  <%= link_to "Review #{@movie.title}", new_review_path(movie_id: @movie.id), class: "btn btn-success btn-block" %>
  <%= link_to "Delete #{@movie.title}", movie_path(@movie), class: "btn btn-danger",
                                  data: { confirm: "REALLY?! :D :D", method: "delete" }%>

</div>
<br>
<% if @movie.reviews.any? %>
  <div class="panel">
    <ul class="list-group">
      <% @movie.reviews.each do |review| %>
        <%= link_to review_path(review) do %>
          <li class="list-group-item reviews">
            <%= review.body %>
            <span style="float: right;">
              <% review.rating.rating.times do %>
                <span class="glyphicon glyphicon-star star-gold"></span>
              <% end %>
              <% (10 - review.rating.rating).times do %>
                <span class="glyphicon glyphicon-star-empty"></span>
              <% end %>
            </span>
            <hr>
          </li>
        <% end %>
      <% end %>
    </ul>
  </div>
<% end %>
