<!DOCTYPE html>
<html>
<head>
  <title>NickCage</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <nav class='navbar navbar-inverse navbar-fixed-top navbar-success' role='navigation'>
    <ul class='nav navbar-nav'>
      <li><%= link_to "Home", movies_path %></li>
      <li><%= link_to "Add Movie", new_movie_path %></li>
    </ul>
  </nav>

  <div class="container">
    <% if flash[:notice] %>
      <div class="alert alert-success alert-dismissible" role="alert">
        <%= flash[:notice] %>
      </div>
    <% end %>
    <% if flash[:alert] %>
      <div class="alert alert-danger alert-dismissible" role="alert">
        <%= flash[:alert] %>
      </div>
    <% end %>
    <%= yield %>
  </div>


</body>
</html>
